{% extends 'comp/base.html' %}
{% block title %}Home{% endblock title %}
{% block style %}
    <style>
        a.home{
            color:red;
        }
    </style>
{% endblock style %}
{% block main-content %}
{% load static %}
<div class="owl-carousel owl-theme">
    <div class="item"><img id="owl-img" src="{% static 'comp/image/banner.jpg' %}"/></div>
    <div class="item"><img id="owl-img" src="{% static 'comp/image/ban2.jpg' %}"/></div>
    <div class="item"><img id="owl-img" src="{% static 'comp/image/ban1.jpg' %}"/></div>
    <div class="item"><img id="owl-img" src="{% static 'comp/image/ban.jpg' %}"/></div>
    <div class="item"><img id="owl-img" src="{% static 'comp/image/banner1.jpg' %}"/></div>
    <div class="item"><img id="owl-img" src="{% static 'comp/image/ban3.jpg' %}"/></div>
</div>

<!-- <div class="slider">
    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1"/>
        <input type="radio" name="radio-btn" id="radio2"/>
        <input type="radio" name="radio-btn" id="radio3"/>
        <input type="radio" name="radio-btn" id="radio4"/>

        <div class="slide first">
            <img src="{% static 'comp/image/banner.jpg' %}"/>
        </div>
        <div class="slide">
            <img src="{% static 'comp/image/ban2.jpg' %}"/>
        </div>
        <div class="slide">
            <img src="{% static 'comp/image/ban1.jpg' %}"/>
        </div>
        <div class="slide">
            <img src="{% static 'comp/image/banner1.jpg' %}"/>
        </div>

        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
        </div>
    </div>
    <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
    </div>
</div> -->

<p class="product-title">Top Wears:</p>
<div class="content-block">
    {% for top in topwears %}
    <ul class="product-design">
        <a href="{% url 'components:detail' top.id %}">
        <img src="{{ top.product_image.url}}"/>
        <li class="title-code">{{top.title}}</li>
        <li class="tk">ট: {{top.selling_price}}</li>
        <li class="dis"><del>ট: {{top.discount_price}}</del></li>
    </a>
    </ul>
    {% endfor %}
</div>
<p class="product-title">Bottom Wears:</p>
<div class="content-block">
    {% for top in bottomwears %}
    <ul class="product-design">
        <a href="{% url 'components:detail' top.id %}">
        <img src="{{ top.product_image.url}}"/>
        <li class="title-code">{{top.title}}</li>
        <li class="tk">ট: {{top.selling_price}}</li>
        <li class="dis"><del>ট: {{top.discount_price}}</del></li>
    </a>
    </ul>
    {% endfor %}
</div>
<p class="product-title">Mobile:</p>
<div class="content-block">
    {% for top in mobile %}
    <ul class="product-design">
        <a href="{% url 'components:detail' top.id %}">
        <img src="{{ top.product_image.url}}"/>
        <li class="title-code">{{top.title}}</li>
        <li class="tk">ট: {{top.selling_price}}</li>
        <li class="dis"><del>ট: {{top.discount_price}}</del></li>
    </a>
    </ul>
    {% endfor %}
</div>
<p class="product-title">Laptop:</p>
<div class="content-block">
    {% for top in laptop %}
    <ul class="product-design">
        <a href="{% url 'components:detail' top.id %}">
        <img src='{{top.product_image.url}}'/>
        <li class="title-code">{{top.title}}</li>
        <li class="tk">ট: {{top.selling_price}}</li>
        <li class="dis"><del>ট: {{top.discount_price}}</del></li>
        </a>
    </ul>
    {% endfor %}
</div>
{% endblock main-content %}