{% extends 'comp/base.html'%}
{% load static %}
{% block title %}TopWear{% endblock title %}
{% block style %}
        <style>
            a.fash{
                color:red;
            }
        </style>
    {% endblock style %}
{% block main-content%}
<div class="mobile-container">
    <div class="category-search">
        <h3>Brand</h3>
        <hr/>
        <a href="{% url 'components:topwear' %}" class="category">All TopWear</a>
        <a href="{% url 'components:topwear_data' 'IELGY' %}" class="category">IELGY</a>
        <a href="{% url 'components:topwear_data' 'SMUG'%}" class="category">SMUG</a>
        <a href="{% url 'components:topwear_data' 'GoodMan'%}" class="category">GoodMan</a>
    </div>
    <div class="mobile-block">
        {% for top in fashion %}
        <ul class="product-design">
            <a href="{% url 'components:detail' top.id %}">
            <img src="{{ top.product_image.url}}"/>
            <li>{{top.title}}</li>
            <li class="tk">ট: {{top.selling_price}}</li>
            <li class="dis"><del>ট: {{top.discount_price}}</del></li>
        </a>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock main-content%}