{% extends 'comp/base.html' %}
{% load static %}
{% block title %} Change Password {% endblock title %}
{%block main-content %}
<div id="form-content">
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="div-align"> 
            {{field.label_tag}} {{field}}
            <small>{{ field.errors|striptags }}</small>
        </div>
        {% endfor %}
        <input type="submit" value="Change Password" id="log-btn"/>
        {% if form.non_field_errors %}
            
            {% for error in form.non_field_errors %}
                <small>{{error|striptags}}</small>
            {% endfor %}
                
        {% endif %}
</div>     
{% endblock %}